---
layout: default
permalink: /categories/
title: Categories
---

<head>
    <title>Carlos' blog — Categories</title>
    <meta charset="utf-8" />

    <link rel="icon" href="https://cdacosta-londonbucket.s3.eu-west-2.amazonaws.com:443/mainsite/images/avatar.ico" type="image/x-icon" />

    <meta property="og:title" content="Carlos' blog" />
    <meta property="og:url" content="https://cako.github.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="My blog"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107214355-2"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-107214355-2');
    </script>
</head>


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
