---
layout: default
---
<head>
    <title>Carlos' blog</title>
    <meta charset="utf-8" />

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <meta property="og:title" content="Carlos' blog" />
    <meta property="og:url" content="https://cako.github.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="My blog"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107214355-2"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-107214355-2');
    </script>
</head>

<h1>Welcome</h1>
Hi, welcome to my blog. I am applied Earth scientist with interests in seismic imaging and inversion. You can read a bit more about my academic work on <a href="https://carloscosta.herokuapp.com">my website</a>.
<br>
<span class="author"><i class="icon-user"></i>— <a href="https://carloscosta.heroukapp.com">{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</a></span>

<h1>Posts</h1>
<div class="posts">
    {% for post in site.posts %}
    <article class="post">
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

        <div class="entry">
            {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
</div>
