<style>
@media screen and (min-width: 42em) {
        ul {
        display: grid;
        grid-template-columns: 1fr repeat(1, auto) 1fr;
        grid-column-gap: 5px;
        justify-items: center;
    }

    li:nth-child(1) { grid-column-start: 2; }
    li:nth-child(2) { margin-left: auto; }
}

ul { padding: 0; margin: 0; list-style: none; }
</style>

<section class="post-page-header">
<ul>
    <li>
        <h1 class="project-name"><a href="{{ site.url }}" style="color:white; text-decoration:none">{{ site.title }}</a></h1>
        <h2 class="project-tagline">{{ site.description }}</h2>
    </li>
    <li>
        <a href="{{ site.github }}" class="btn">View on GitHub</a>
        <br>
        <a href="{{ site.github }}/blog/tree/master/codes/{{page.date|date:"%Y-%m-%d-"}}{{codeurl}}" class="btn">Get source code</a>
    </li>
</ul>
</section>
