<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include post-header.html %}
    <section class="main-content">

    <article>
        <header>
            <h1>{{ page.title }}</h1>
            <span><i class="icon-clock"></i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
            {% assign tags = '' %}
            {% for tag in page.categories %}
                {% assign pageurl = '<a href="/categories#' | append: tag | append: '">' %}
                {% assign tags = tags | append: pageurl | append: tag | append: '</a>, ' %}
            {% endfor %}
            <!--<span class="category"><i class="icon-tag"></i><a href="/categories/">Tags</a>: {{ page.categories | join:', ' }}</span><br/>-->
            <span class="category"><i class="icon-tag"></i><a href="/categories/">Tags</a>: {{ tags | split: ', ' | join: ', ' }}</span><br/>
        </header>
        <br>
        <div class="entry">{{ content }}</div>

        <footer><span class="author"><i class="icon-user"></i>— <a href="https://carloscosta.heroukapp.com">{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</a></span></footer>

    </article>

          {% include page-footer.html %}

        </section>

      </body>
</html>
