---
layout: default
---
<head>
    <title>Carlos' blog — {{ page.title }}</title>
    <meta charset="utf-8" />

    <link rel="icon" href="https://cdacosta-londonbucket.s3.eu-west-2.amazonaws.com:443/mainsite/images/avatar.ico" type="image/x-icon" />

    <meta property="og:title" content="Carlos' blog" />
    <meta property="og:url" content="https://cako.github.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="My blog"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107214355-2"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-107214355-2');
    </script>
</head>

<article>
        <header>
            <h1>{{ page.title }}</h1>
            <span><i class="icon-clock"></i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
            <span class="category"><i class="icon-tag"></i><a href="/categories/">Tags</a>: {{ page.categories | join:', ' }}</span><br/>
        </header>
        <br>
        <div class="entry">{{ content }}</div>

        <footer><span class="author"><i class="icon-user"></i>— <a href="https://carloscosta.heroukapp.com">{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</a></span></footer>

</article>

